<!DOCTYPE html>
<html>

<head>
  
  <title>Infinity</title>
  <link href="css/style.css" rel="stylesheet">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
  </style>
  </style>
</head>
<header>
  <div class="detail">
    <div id="detail-left">
      <img src="pic/images-removebg-preview.png" width="15px" height="15px">
      <p> Call - <b>+234567890 </b> |</p>
      <img src="pic/mail-removebg-preview.png" width="15px" height="15px">
      <p> Email. - <b>infinity123@gmail.com</b></p>
    </div>
    <div id="detail-right">
      <img src="pic/logo-icon-person-on-white-background-free-vector-removebg-preview.png" width="20px" height="20px">
      <button class="logbtn">login</button>
      <p>| English</p>
    </div>
  </div>
  <div class="login hidden">
    <h4 class="closelog">X</h4>
    <h2>Login</h2><br><br>
    <form action="/index" method="post">
    <h3>Username</h3><br>
    <img src="pic/usernamelogo.png" width="15px" height="15px">
    <input type="textbox" placeholder="username" name="Email" class="loginuser"><br><br>
    <h3>Password</h3><br>
    <img src="pic/passwordlogo.png" width="20px" height="20px">
    <input type="password" placeholder="password" name="Password"><br><br><br>
    <button class="submitbtn">submit</button><br><br>
    <p>don't have an account ?</p><button style="background-color: white; color:black;" ><a href="/register">register</a></button></form>
  </div>


  <div class="navbar">
    <div id="nav-left">
       <img src="pic/3lines.png" width="30px" height="30px" class="sidebarbtn">
      <h1>INFINITY</h1>
    </div>
 
    <div id="nav-right">
      <h3 class="AC">Home</h3>
      <div class="dropdown">
        <h3 class="category">Category</h3>
        <div class="dropdown-content">
          <a href="/boys">trending</a>
          <a href="/boys">Man</a>
          <a href="/boys">Women</a>
          <a href="/boys">jeans</a>
          <a href="/boys">Formal</a>
          <a href="/boys">cargos</a>
        </div>
      </div>

      <div class="dropdown">
        <h3 class="category">Collection</h3>
        <div class="dropdown-content">
          <a href="#">Winter</a>
          <a href="#">Summer</a>

        </div>
      </div>
      <h3 class="NAC"><a href="/blog" style="text-decoration:none; color:black">Blog</a></h3>
     <h3><a href="/contact" style="text-decoration:none; color:black">Contact</a></h3>
      <img class="searchbtn" src="pic/search-removebg-preview.png" width="20px" height="20px">
      <a href="/cart">
      <img src="pic/cart-removebg-preview.png" alt="Clickable Image" width="27px" height="27px"></a>
    </div>
  </div>
</header>

<body>
  <div class="sidebar hidden">
  <div id="sidebar-flex">
  <h2>Home</h2>
  <button id="sidebarclose">X</button>
</div>
  <h3>My orders</h3>
  <h3>Cart</h3>
  <h3><a href="/boys" style="text-decoration:none; color:black" >collections</a></h3>
  <h3>contact us</h3>
  <h3>customer care</h3>
  <h3>help</h3>
</div>
  <div class="overlay"></div>
 <div class="container">
  <div class="wrapper">
<img src="pic/picsart1.jpg">
<div class="pic1">
  <h1>WEAR YOUR PREMIUM<BR>CONFIDENCE <BR>______</h1><br><br>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt perspiciatis itaque quae magnam
      recusandae
      laudantium ipsa ea nulla dolorum totam.</h3><br><br>
    <button class="shopbtn1">SHOP NOW</button>
</div>
<img src="pic/Picsart2.jpg">
<div class="pic2">
<h1>Fashion that defines<BR>you <BR>______</h1><br><br>
  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt perspiciatis itaque quae magnam
    recusandae
    laudantium ipsa ea nulla dolorum totam.</h3><br><br>
  <button class="shopbtn2">SHOP NOW</button>

</div>
<img src="pic/picsart3.jpg">
<div class="pic3">
<h1>Classy never goes out of<BR>style <BR>______</h1><br><br>
  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt perspiciatis itaque quae magnam
    recusandae
    laudantium ipsa ea nulla dolorum totam.</h3><br><br>
  <button class="shopbtn3">SHOP NOW</button>
</div>
  </div>
 </div>

  </div>
  <div class="gendercategory">
    <div class="boys genderbox">
      <h2>Best <br>for <br> Men</h2>
      <button class="visitbtn"><a href="/boys" style="color:white;text-decoration:none;">Visit</a></button>
    </div>
    <div class="girls genderbox">
      <h2>Best <br>for <br> Women</h2>
      <button class="visitbtn">Visit</button>
    </div>
    <div class="child genderbox">
      <h2>Big <br>sale, <br>40%</h2>
      <button class="visitbtn">Visit</button>
    </div>
    <div class="date genderbox">
      <h2>New<br>latest<br>launches <br></h2>
      <button class="visitbtn">Visit</button>
    </div>
  </div>

 <h2 id="heading">Have a look at our products</h2>
 


    <section class="our-purpose">
        <div class="overlaya"></div>
        <div class="content">
            <h2>Our Purpose And Why Choose Us</h2>
            <p>At <strong>Infinity</strong>, we create fashion that speaks. Sustainable, stylish, and ethically crafted – our clothing empowers individuals and protects the planet.</p>
            <div class="icons">
                <div class="icon-box">
                    <img src="pic/sustainability copy.jpg" alt="Sustainability">
                    <p>Sustainable</p>
                </div>
                <div class="icon-box">
                    <img src="pic/trendy copy.jpg" alt="Fashion">
                    <p>Trendy</p>
                </div>
                <div class="icon-box">
                    <img src="pic/ethical copy.jpg" alt="Ethical">
                    <p>Ethically Made</p>
                </div>
            </div>
            <a href="#shop" class="btn">Explore Collection</a>
        </div>
       
    </section>




  <div class="products">
    <div class="product product1">
      <div class="productpic">
        <img src="pic/product1.jpg">
      </div>
      <h3 class="product-name">Infinity Winter Jacket with 240 GSM material</h3>

    </div>
    <div class="product product1">
     
       <div class="productpic">
        <img src="pic/product4.jpg">
       </div>
      <h3 class="product-name">yellow kurti </h3>

    </div>
    <div class="product product1">
      
       <div class="productpic">
        <img src="pic/product2.jpg">
       </div>
      <h3 class="product-name">brown stylish jacket</h3>
     
    </div>
    <div class="product product1">
      
       <div class="productpic">
        <img src="pic/product3.jpg">
       </div>
      <h3 class="product-name">white trending top</h3>

    </div>
   
    <div class="product product1">
      
       <div class="productpic">
          <img src="pic/product6.jpg">
       </div>
      <h3 class="product-name">Black tees cotton 240GSM material</h3>
   
    </div>
    <div class="product product1">
      
       <div class="productpic">
         <img src="pic/product7.jpg">
       </div>
      <h3 class="product-name">oversized tee</h3>

    </div>
    <div class="product product1">
      
       <div class="productpic">
         <img src="pic/product15.jpg">
       </div>
      <h3 class="product-name">sweat shirt</h3>

    </div>
    <div class="product product1">
      
       <div class="productpic">
         <img src="pic/product14.jpg">
       </div>
      <h3 class="product-name">represent black tees</h3>

    </div>
    <div class="product product1">
      
       <div class="productpic">
         <img src="pic/product10.jpg">
       </div>
      <h3 class="product-name">stylish black</h3>

    </div>
    <div class="product product1">
      <div class="productpic">
         <img src="pic/product18.jpg">
      </div>
      <h3 class="product-name">Full sleeve tees</h3>

    </div>
</div>

   <section class="hero">
        <div class="overlay"></div>
        <div class="hero-content">
            <h1>Elevate Your Style</h1>
            <p>Discover the latest trends & redefine your fashion game.</p>
            <a href="#shop" class="cta-button">Shop Now</a>
        </div>

        <!-- Floating Clothes -->
        <img src="pic/float1 copy.png" class="floating floating1" alt="T-Shirt">
        <img src="pic/float2 copy.png" class="floating floating2" alt="Jacket">
        <img src="pic/float4 copy.png" class="floating floating3" alt="Dress">
        <img src="pic/float5 copy.png" class="floating floating4" alt="Shoes">
        <img src="pic/float3 copy.png" class="floating floating5" alt="Hat">

    </section>

<div class="categoryboxes">
<div class="categorybox cbox1">
<h3>Explore the latest launches</h3>
<div class="fourbox">
<div class="subbox">
  <img src="pic/product20.jpg">
</div>
<div class="subbox">
  <img src="pic/product21.jpg">
</div>
<div class="subbox">
  <img src="pic/product22.jpg">
</div>
<div class="subbox">
  <img src="pic/product23.jpg">
</div>
</div>
</div>
<div class="categorybox cbox2">
  <h3>starting from $499/-</h3>
  <div class="fourbox">
    <div class="subbox">
      <img src="pic/product11.jpg">
    </div>
    <div class="subbox">
      <img src="pic/product12.jpg">
    </div>
    <div class="subbox">
      <img src="pic/product13.jpg">
    </div>
    <div class="subbox">
      <img src="pic/product14.jpg">
    </div>
    </div>
</div>
<div class="categorybox cbox3">
  <h3>Products with highest demands</h3>
  <div class="fourbox">
    <div class="subbox">
       <img src="pic/product22.jpg">
    </div>
    <div class="subbox"></div>
    <div class="subbox"></div>
    <div class="subbox"></div>
    </div>
</div>
<div class="categorybox cbox4">
  <h3>upto 30% discount| from men and women</h3>
  <div class="fourbox">
    <div class="subbox"></div>
    <div class="subbox"></div>
    <div class="subbox"></div>
    <div class="subbox"></div>
  </div>
</div>
</div>
<div class="feedbackbox">
  <div class="feedback feedback1"><br><span style="display:flex; justify-content:space-around;">
  <img src="pic/profilepic.png" width="20px" height="20px">
    <h5>zeelpatel234@gmail.com</h5>
    <p>⭐⭐⭐⭐</p>
    </span><br>
       <p style="font-size:12px; color:rgb(170, 171, 172);margin-left:10px;">27th jan,2025 </p><br>
    <p style="margin:5px;">The Quality of clothes i got is just amazing, i am completely satisfied with the product. you can go for it.</p>
  </div>
  <div class="feedback feedback1">
    <br><span style="display:flex; justify-content:space-around;">
  <img src="pic/profilepic.png" width="20px" height="20px">
    <h5>arya24@gmail.com</h5>
    <p>⭐⭐⭐⭐⭐</p>
    </span><br>
       <p style="font-size:12px; color:rgb(170, 171, 172);margin-left:10px;">27th jan,2025 </p><br>
    <p style="margin:5px; ">infinity brand provides best customer care, i wanted to return the order as size was not suitable. And it was easy to return and reorder.</p>

  </div>
  <div class="feedback feedback1">
    <br><span style="display:flex; justify-content:space-around;">
  <img src="pic/profilepic.png" width="20px" height="20px">
    <h5>chetu420@gmail.com</h5>
    <p>⭐⭐⭐</p>
    </span><br>
    <p style="font-size:12px; color:rgb(170, 171, 172);margin-left:10px;">27th jan,2025 </p><br>
    <p style="margin:5px;">the money i spent on this product is worth it, this brand got best designs and modern style clothing with good material...</p>

  </div>
  <div class="feedback feedback1">
    <br><span style="display:flex; justify-content:space-around;">
  <img src="pic/profilepic.png" width="20px" height="20px">
    <h5>nik007@gmail.com</h5>
    <p>⭐⭐⭐⭐</p>
    </span><br>
       <p style="font-size:12px; color:rgb(170, 171, 172);margin-left:10px;">27th jan,2025 </p><br>
    <p style="margin:5px;">you can go for this brand blindly and you will not regret buying clothes from here. worth buying clothes, they got best retun policy and you can trust this brand.</p>
  </div>
</div>
<div class="bests">
  <div class="bestof best1">
    <h3>| Best Of T-shirts</h3>
    
  </div>
  <div class="bestof best2">
      <h3>| Best Of cargos</h3>
  
  </div>
  <div class="bestof best3">
      <h3>| Best Of Hoodies</h3>
      
  </div>
  <div class="bestof best4">
      <h3>| Best Of oversized</h3>
      
  </div>
</div>
 <section class="fashion-section">
  
        <h1 class="main-word">FASHION</h1>
        <h3 class="submainword">That Defines You</h3>
        <div class="word surrounding-word word1">Chic</div>
        
        <div class="word surrounding-word word2">Trendy</div>
        <div class="word surrounding-word word3">Haute</div>
        <div class="word surrounding-word word4">Vogue</div>
        <div class="word surrounding-word word5">Minimalist</div>
        <div class="word surrounding-word word6">Edgy</div>
        <div class="word surrounding-word word7">Dapper</div>
        <div class="word surrounding-word word8">Streetwear</div>
        <div class="word surrounding-word word9">Aesthetic</div>
        <div class="word surrounding-word word10">Couture</div>
    </section>
 <h2 style="text-align:center">Customer Reviews</h2><br>
    <div class="reviews-container">
        <div class="review-card">
            <img src="https://i.pravatar.cc/100?img=1" alt="Alice Johnson" class="avatar">
            <div class="review-content">
                <p class="reviewer-name">Alice Johnson</p>
                <p class="stars">★★★★★</p>
                <p>Amazing quality! The fabric is so soft and the fit is perfect. Will buy again!</p>
            </div>
        </div>
        <div class="review-card">
            <img src="https://i.pravatar.cc/100?img=2" alt="Mark Smith" class="avatar">
            <div class="review-content">
                <p class="reviewer-name">Mark Smith</p>
                <p class="stars">★★★★☆</p>
                <p>Great designs and comfortable wear. Shipping took a bit longer than expected, though.</p>
            </div>
        </div>
        <div class="review-card">
            <img src="https://i.pravatar.cc/100?img=3" alt="Sophie Lee" class="avatar">
            <div class="review-content">
                <p class="reviewer-name">Sophie Lee</p>
                <p class="stars">★★★★★</p>
                <p>Love the sustainability efforts of this brand. The clothes feel premium and eco-friendly!</p>
            </div>
        </div>
        <div class="review-card">
            <img src="https://i.pravatar.cc/100?img=4" alt="James Carter" class="avatar">
            <div class="review-content">
                <p class="reviewer-name">James Carter</p>
                <p class="stars">★★★★☆</p>
                <p>Nice quality, but sizes run a little small. Recommend sizing up.</p>
            </div>
        </div>
        <div class="review-card">
            <img src="https://i.pravatar.cc/100?img=5" alt="Emily Davis" class="avatar">
            <div class="review-content">
                <p class="reviewer-name">Emily Davis</p>
                <p class="stars">★★★★★</p>
                <p>Fantastic designs and very comfortable! Will purchase again.</p>
            </div>
        </div>
        <div class="review-card">
            <img src="https://i.pravatar.cc/100?img=6" alt="Michael Brown" class="avatar">
            <div class="review-content">
                <p class="reviewer-name">Michael Brown</p>
                <p class="stars">★★★★☆</p>
                <p>Good quality, but wish there were more color options available.</p>
            </div>
        </div>
    </div>
</body>
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>About Us</h4>
            <p>we design unique and branded clothing which suits you and make your lifestyle better and makes you feel confident.</p>
        </div>
        
        <div class="footer-section">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Contact Us</h4>
            <ul>
                <li>Email: <a href="mailto:info@ecommerce.com">info@ecommerce.com</a></li>
                <li>Phone: <a href="tel:+1234567890">+1 (234) 567-890</a></li>
                <li>Address: 123 E-commerce St., Shop City, Country</li>
            </ul>
        </div>

        <div class="footer-section social-media">
            <h4>Follow Us</h4>
            <ul>
                <li><a href="#" target="_blank">Facebook</a></li>
                <li><a href="#" target="_blank">Twitter</a></li>
                <li><a href="#" target="_blank">Instagram</a></li>
                <li><a href="#" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 infinity brand. All rights reserved.</p>
    </div>
</footer>

<script src="js/home.js"></script>

</html>